// Colors

$primary-color: rgb(32, 34, 37);
$primary-hover-color: rgb(46, 49, 53);
$secondary-color: rgb(57, 61, 66);

//rgb(57, 61, 66)

//

// Size of elements

$titlebar-height: 30px;
$navbar-height: 75px;
$footer-height: 35px;

//